/* * {
  margin-bottom: 8px;
} */

fieldset {
  border: solid;
}

legend {
  font-size: large;
}

.user {
  display: flex;
  justify-content: space-evenly;
}

.user-stats {
  display: flex;
  justify-content: space-evenly;
}

.comb {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 3em;
}
