@import "css/user.css";

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  } */

body {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  margin-top: -24px;
  margin-bottom: 48px;
}

header {
  background-color: black;
  color: white;
  border-bottom: solid;
  text-align: center;
}

.question:nth-child(odd) {
  background-color: #e26ee3;
}

.question:nth-child(even) {
  background-color: #f7ff00;
}

.question {
  border: solid;
  margin: 30px;
  position: relative;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmark {
  width: 2em;
  position: absolute;
  top: -15px;
  right: 10px;
}

input {
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
}

/*  @@  Show / Reveal answer without Javascript  @@ */

/* input:focus + .answer {
  display: block;
  margin-top: 5px;
}

.answer {
  display: none;
} */

.tag-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.tag {
  font-size: small;
  color: black;
  background-color: azure;
  border: solid;
  border-width: 2px;
  border-radius: 7px;
  padding: 2px;
  margin: 10px;
}

footer {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 48px;
  border: solid;

  display: flex;
  justify-content: space-evenly;
}

.icon {
  /* width: 30%;
  margin-left: auto;
  margin-right: auto;
  display:inline-block; */
  /* display: inline-block;  */
}

.footer-icon {
  height: 40px;
  /* object-fit: cover; */
  border-radius: 50%;
}
